{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
		<section>
			<h1>About us</h1>
			<span class="image main"><img src="{% static "images/pic13.jpg" %}" alt="" /></span>
			<p>很久很久以前台科大開了一門網頁設計的課，
			這個課要求學生們分組做一個期末的網站，剛好我們四個人常常遲到，所以我們因緣際會下組成了一組，之後我們就常常遲到，從老師交HTML到交Django我們組員每個都發揮自己的天賦一直遲到，雖然如此期末網站還是由這幾個平凡的大學生做出來了。</p>
			<p>如果喜歡我們的作品可以donate一下喔。
			<img src="{% static 'images/savings.png' %}" class="" alt=""/><img src="{% static 'images/savings.png' %}" class="" alt=""/><img src="{% static 'images/savings.png' %}" class="" alt=""/></p>
		</section>
		<hr>
		<div class="row box profile">
				<img src="{% static "images/pic01.jpg" %}" class="6u imgleft" alt=""/>
				<div class="6u$">
					<h1>組長</h1>
					<ul class="">
						<li>姓名：邱珞</li>
						<li>班級：四資管二</li>
						<li>學號：B1XXXXXXX</li>
						<li>工作：前端打醬油</li>
						<li>興趣：耍廢</li>
					</ul>
				</div>
		</div>
		<div class="row box profile">
				<img src="{% static "images/pic02.jpg" %}" class="6u imgright" alt=""/>
				<div class="6u$">
					<h1>組員</h1>
					<ul class="">
						<li>姓名：彭聖貿</li>
						<li>班級：四資管二</li>
						<li>學號：B1XXXXXXX</li>
						<li>工作：完全醬油</li>
						<li>興趣：耍廢</li>
					</ul>
				</div>
		</div>
		<div class="row box profile">
				<img src="{% static "images/pic03.jpg" %}" class="6u imgleft" alt=""/>
				<div class="6u$">
					<h1>組員</h1>
					<ul class="">
						<li>姓名：謝爾信</li>
						<li>班級：四資管二</li>
						<li>學號：B1XXXXXXX</li>
						<li>工作：醬油大師</li>
						<li>興趣：耍廢</li>
					</ul>
				</div>
		</div>
		<div class="row box profile">
				<img src="{% static "images/pic04.jpg" %}" class="6u imgright" alt=""/>
				<div class="6u$">
					<h1>組員</h1>
					<ul class="">
						<li>姓名：</li>
						<li>班級：四資管二</li>
						<li>學號：B1XXXXXXX</li>
						<li>工作：</li>
						<li>興趣：耍廢</li>
					</ul>
				</div>
		</div>

	</div>
</div>
{% endblock %}
