{% extends "layout/base.html" %}
{% load static %}

{% block title %}| Case: {{m.name}}{% endblock %}


{% block HeaderScript %}
<!--casebox class render-->
<link rel="stylesheet" href="{% static "assets/css/jquery.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/select.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/buttons.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/CaseBox.css" %}" />
{% endblock %}


{% block content %}
<div id="main">
	<div class="inner">
		<h1>Case information</h1>
		<!-- 內容 -->
		<div class="casebox box">
			<label>案名: {{ m.name }}</label>
			{% if user.is_authenticated %}
			<label>投案人: <a href="{% url 'userena_profile_detail' m.posted_by.username %}">{{m.posted_by.username}}</a></label>
			{% else %}
			<label>投案人: {{m.posted_by.username}}</label>
			{% endif %}
			<label>需求技能:
			{% for s in m.required_skills.all|dictsort:'name'  %}
				{% if not forloop.last %}
				<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>,
				{% else %}
				<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>
				{% endif %}
			{% endfor %}
			</label>
			<label>等級下限: {{ m.required_level }}</label>
			<label>人數需求: {{ m.required_worker_num }}</label>
			<label>截止報名: {{ m.application_deadline }}</label>
			<label>投案日: {{ m.posted_on }}</label>
			<label>任務內容:</label><p>{{ m.description }}<p>
		</div>

		{% if user.is_authenticated %}
		<!-- button casebutton-->
		<ul class="actions align-center">
			{% if user == m.posted_by %}
			{% elif user in m.applied_by.all %}
				{% if m.application_deadline|timeuntil:now > 0 %}
				<li>
					<form action="{% url 'missionboard_case_applied' m.id %}" method="post">
						{% csrf_token %}
						<input class="button special" type="submit" value="放棄">
					</form>
				</li>
				{% else %}
				<li>
					<input class="button special disabled" type="submit" value="放棄">
				</li>
				{% endif %}
			{% elif user not in m.applied_by.all %}
				{% if m.application_deadline|timeuntil:now > 0 %}
				<li>
					<form action="{% url 'missionboard_case_applied' m.id %}" method="post">
						{% csrf_token %}
						<input class="button special" type="submit" value="接案">
					</form>
				</li>
				{% else %}
				<li>
					<input class="button special disabled" type="submit" value="接案">
				</li>
				{% endif %}
			{% endif %}
		</ul>
		{% endif %}

		{% if user.is_authenticated %}
		{% include 'WorkerList.html' %}
		{% endif %}
	</div>
</div>
{% endblock %}


{% block FooterScript %}
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.select.min.js"%}"></script>
<script src="{% static "assets/js/dataTables.buttons.min.js"%}"></script>
<script>
$(document).ready(function() {
    $('#mainTable').DataTable({
			"order": [[ 2, "desc" ]]
		});
} );
</script>
{% endblock %}
