{% extends "layout/base.html" %}
{% load static %}

{% block title %}| Case: {{m.name}}{% endblock %}


{% block HeaderScript %}
<!--casebox class render-->
<link rel="stylesheet" href="{% static "assets/css/CaseBox.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/jquery.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/select.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/buttons.dataTables.min.css" %}" />
{% endblock %}


{% block content %}
<div id="main">
	<div class="inner">
		<h1>Case information</h1>
		<!-- 內容 -->
		<div class="casebox box">
			<label>案名: {{ m.name }}</label>
			<label>投案人: <a href="{% url 'userena_profile_detail' m.posted_by.username %}">{{m.posted_by.username}}</a></label>
			<label>需求技能:
			{% for s in m.required_skills.all  %}
				{% if not forloop.last %}
				<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>,
				{% else %}
				<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>
				{% endif %}
			{% endfor %}
			</label>
			<label>等級下限: {{ m.required_level }}</label>
			<label>投案日: {{ m.posted_on }}</label>
			<label>人數需求: {{ m.required_worker_num }}</label>
			<label>任務內容:</label><p>{{ m.description }}<p>
		</div>

		{% if user.is_authenticated %}
		<!-- button casebutton-->
		<ul class="actions align-center">
			{% if user not in m.applied_by.all %}
			<li><a href="{% url 'missionboard_case_applied' m.id %}" class="button special">接案</a></li>
			{% endif %}
		</ul>
		{% endif %}

		{% if user in m.applied_by.all or user is m.posted_by %}
		{% include 'WorkerList.html' %}
		{% endif %}
	</div>
</div>
{% endblock %}


{% block FooterScript %}
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.select.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.buttons.min.js" %}"></script>
{% endblock %}
