{% extends "layout/base.html" %}
{% load static %}


{% block HeaderScript %}
<!--casebox class render-->
<link rel="stylesheet" href="{% static "assets/css/CaseBox.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/jquery.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/select.dataTables.min.css" %}" />
<link rel="stylesheet" href="{% static "assets/css/buttons.dataTables.min.css" %}" />
{% endblock %}


{% block content %}
<div id="main">
	<div class="inner">
		<h1>Case information</h1>
		<!-- 內容 -->
		<div class="casebox box">
			<label>案名: {{ mission.name }}</label>
			<label>需求技能:
			{% for s in mission.required_skills.all  %}
				{% if not forloop.last %}
				<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>, 
				{% else %}
				<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>
				{% endif %}
			{% endfor %}
			</label>
			<label>等級下限: {{ mission.required_level }}</label>
			<label>投案日: {{ mission.posted_on}} </label>
			{% if user.is_authenticated %}
			<label>接案日:</label>
			{% endif %}
			<label>任務內容:</label><p>{{ mission.description }}<p>
		</div>
		<!-- 關於人的內容 -->
		<div class="casebox box">
			{% if user.is_authenticated and user == mission.posted_by %}
			<label>接案人:</label>
			{% endif %}
			<label>投案人: <a href="{% url 'userena_profile_detail' mission.posted_by.username %}">{{mission.posted_by.username}}</a> </label>
			<label>人數需求:</label>
			<label>接案時間:</label>
			<label>是否完成:</label>
		</div>
		<!-- button casebutton-->
		<ul class="actions align-center">
			<li><a href="#" class="button special">接案</a></li>
			<li><a href="#" class="button ">放棄</a></li>
			<li><a href="#" class="button special">確定更改</a></li>
		</ul>
		<a type="button" class="" data-toggle="modal" data-target="#WorkList">選擇接案人</a>
		{% include 'WorkerList.html' %}
	</div>
</div>
{% endblock %}


{% block FooterScript %}
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.select.min.js"%}"></script>
<script src="{% static "assets/js/dataTables.buttons.min.js"%}"></script>
{% endblock %}
