				<!-- Main -->
{% extends "layout/base.html" %}
{% load static %}

{% block title %}| {{category.name}} 任務列表{% endblock %}

{% block content %}
<div id="main">
	<div class="inner">
		<div class="inner">
			<h1>{{category.name}} 任務列表</h1>
		</div>
		<div class="inner">
			<table id="missions" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>任務名稱</th>
						<th>等級需求</th>
						<th>需求技能</th>
						<th>投案日</th>
						<th>投案人</th>
					</tr>
				</thead>
				<tbody>
					<!-- 以下都為測試資料可以刪掉 -->
					{% for m in missions %}
					<tr>
						<td><a href="{% url "missionboard_details" m.id %}" title="">{{m.name}}</a></td>
						<td>{{m.required_level}}</td>
						<td>
						{% for s in m.required_skills.all|dictsort:"name"  %}
							{% if not forloop.last %}
							<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>,
							{% else %}
							<a href="{% url 'missionboard_category' s.id %}">{{s.name}}</a>
							{% endif %}
						{% endfor %}
						</td>
						<td>{{m.posted_on}}</td>
						{% if user.is_authenticated %}
						<td><a href="{% url 'userena_profile_detail' m.posted_by.username %}">{{m.posted_by.username}}</a></td>
						{% else %}
						<td>{{m.posted_by.username}}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block FooterScript %}
	<link rel="stylesheet" href="{% static "assets/css/jquery.dataTables.min.css" %}" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script src="{% static "assets/js/dataTableInit.js" %}"></script>
<script>
	$(document).ready(function() {
			$('#missions').DataTable({
				"order": [[ 3, "desc" ]]
			});
	} );
</script>
{% endblock %}
