{% extends "layout/base.html" %}
{% load static %}
{% block title %}| Donate{% endblock %}

{% block content %}
<div id="main">
	<div class="inner">
		<h1>Donate</h1>

		<!-- Text0 -->
		<div class="row">
			<section>
				<h2>小小奉獻 救救大學生</h2>
				<i><b><p style="font-size: 30px">你的捐款讓<a href={% url 'missionboard_aboutus' %}>我們</a>做出更好的服務.</p></b></i>
				<hr />
				<h2>Like us?</h2>
				<div class="row">
					<div class="6u 12u$(medium)">
						<ul class="actions">
							<li><a href="#" class="button">Yes</a></li>
							<li><a class="button special">No</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<!-- Lists -->

		<div class="row">
			<section class="lalala">
				<h2>捐款方式</h2>
				<div class="6u 12u$(medium)">
					<ul class="alt">
						<li style="color: green">銀行匯款 帳號:<br><b>0987654321000000</b></br>
						</li>
						<li style="color: green">請我吃飯 電話:<br><b>0987654321</b></br>
						</li>
					</ul>
				</div>
				<div class="6u$ 12u$(medium)">
				</div>
				</hr>
				<p style="font-size:100%" class="gray">
					”給予比接受更快樂，你的一小分錢對我們的來說是大大的鼓勵“
				</p>
			</section>
		</div>
	</div>
</div>

{% endblock %}
