{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div id="main">
	{% csrf_token %}
	<div class="inner">
		<header>
			<h1>這是一個給新手練習的場地</h1>
			<p class="introduction gray 7u(xlarge) 7u(large)">
			在玩RPG遊戲的時候，覺得冒險者公會很酷，就想做出來。<br>我們想給新手們練習的場地，也給需求不高的雇主一個大平台，<br>還有一個很最主要的原因就是：其他外包網很醜。
			</p>
		</header>
		<section class="tiles">

			{% if user.is_authenticated %}
			<article class="{{styles|random}}">
				<span class="image">
					<img src="{% static images|random %}" alt="" />
				</span>
				<a href="{% url 'missionboard_new_mission' %}">
					<h2>發表新任務</h2>
					<div class="content">
						<p>招募各路英雄好漢打天下</p>
					</div>
				</a>
			</article>

			<article class="{{styles|random}}">
				<span class="image">
					<img src="{% static images|random %}" alt="" />
				</span>
				<a href="{% url 'missionboard_manage_case' %}">
					<h2>你發表的任務</h2>
					<div class="content">
						<p>管理你發表的任務</p>
					</div>
				</a>
			</article>

			<article class="{{styles|random}}">
				<span class="image">
					<img src="{% static images|random %}" alt="" />
				</span>
				<a href="{% url 'missionboard_mission_wip' %}">
					<h2>你參與的任務</h2>
					<div class="content">
						<p>正在參與的任務</p>
					</div>
				</a>
			</article>
			{% endif %}


			{% for s in skills %}
			<article class="{{styles|random}}">
				<span class="image">
					<img src="{% static images|random %}" alt="" />
				</span>
				<a href="{% url 'missionboard_category' s.id %}">
					<h2>{{s.name}}</h2>
					<div class="content">
						<p>{{s.description}}</p>
					</div>
				</a>
			</article>
			{% endfor %}

		</section>
	</div>
</div>
{% endblock %}
