{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
		<header>
			<h1>這是一個給新手練習的場地</h1>
			<p class="introduction gray 7u(xlarge) 7u(large)">
			在玩RPG遊戲的時候，覺得冒險者公會很酷，就想做出來。<br>我們想給新手們練習的場地，也給需求不高的雇主一個大平台，<br>還有一個很最主要的原因就是：其他外包網很醜。
			</p>
		</header>
		<section class="tiles">
			{% for c in categories %}
			<article class={{c.style}}>
				<span class="image">
					<img src="{% static c.img %}" alt="" />
				</span>
				<a href="form.html">
					<h2>{{c.name}}</h2>
					<div class="content">
						<p>{{c.description}}</p>
					</div>
				</a>
			</article>
			{% endfor %}

		</section>
	</div>
</div>
{% endblock %}
