{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div id="main">
  <div class="inner row">
    <section class="5u$ 12u(medium) byellow">
      <h1>Sign in</h1>
      <form method="post">
        {% csrf_token %}
        <div class="field">
          {{form.name}}
          {% if form.name.errors %}
          <b style="color: red;">{{ form.name.errors }}</b>
          {% endif %}
        </div>
        <div class="field">
          {{form.password}}
          {% if form.password.errors %}
          <b style="color: red;">{{ form.password.errors }}</b>
          {% endif %}
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send" class="special" /></li>
        </ul>
      </form>
      <p><a href="{% url 'missionboard_register' %}">Register</a></p>
    </section>
  </div>
</div>
{% endblock %}
