<!-- 彈跳頁面全部內容 -->
<div class="modal fade" id="WorkList" role="dialog">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content" id="wrapper">
      <!-- HEADER_取消紐和標題 -->
      <div class="modal-header">
        <button type="button" class="button" data-dismiss="modal">&times;</button>
        <br><br>
        <h2 >候選接案人 <small>({{ma.count}}人)</small></h2>
      </div>
      <!-- BODY_資料表-->
      <div class="modal-body">
        <div class="inner">
          <table id="mainTable" class="display alt" cellspacing="0" width="100%" style="word-break: break-all;">
            <thead>
              <tr>
                <th></th><!-- checkbox欄位 -->
                <th>名字</th>
                <th>等級</th>
                <th>成功率</th>
                <th>報名日</th>
              </tr>
            </thead>
            <tbody>
            <!-- 以下都為測試資料可以刪掉 -->
              {% for i in ma %}
              <tr>
                <td></td><!-- checkbox欄位 -->
                <td><a href="{% url 'userena_profile_detail' i.applied_by.username %}">{{i.applied_by.username}}</a></td>
                <td>{{i.applied_by.my_profile.level}}</td>
                <td>100%</td>
                <td>{{i.applied_on}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="align-center">
          <!-- 確認選擇人的按鈕 -->
             <button type="button" class="button special" data-dismiss="modal">確認</button>
          </div>
        </div>
      </div>
      <!-- FOOTER_取消彈跳視窗的按鈕 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
