{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div id="main">
  <div class="inner row">
    <section class="5u 12u(medium) bgray">
    <h1>Sign up</h1>
      <form method="post">
        {% csrf_token %}
        <fieldset>
          {% for field in form %}
          {# Displaying checkboxes differently #}
          {% if field.name == 'tos' %}
          <p class="checkbox">
            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
          </p>
          {% else %}
          <p>
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          <b style="color: red;">{{ field.errors }}</b>
          {% endif %}
          </p>
          {% endif %}
          {% endfor %}
          {{ form.non_field_errors }}
        </fieldset>
        <br>
        <input type="submit" value="{% trans "Signup"%}" />
      </form>
    </section>
  </div>
</div>
{% endblock %}
