{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div id="main">
  <div class="inner row">
    <section class="5u 12u(medium)">
      <h1>Sign in</h1>
      <form method="post">
        {% csrf_token %}
        <fieldset>
          {% for field in form %}
          {# Displaying checkboxes differently #}
          {% if field.name == 'remember_me' %}
            <p>
            {{ field }}
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            </p>
            <br>
          {% else %}
          <div class="field">
            <p>
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            <br>
            </p>
          </div>
          {% endif %}
          {% endfor %}
        </fieldset>
        <b style="color: red;">{{ form.non_field_errors }}</b>
          <input type="submit" value="{% trans "Signin" %}" />
        <br/>
        <br>
        <p class="forgot-password">
          <a href="{% url 'userena_password_reset' %}"
             title="{% trans 'Forgot your password?' %}">
            {% trans "Forgot your password?" %}
          </a>
        </p>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
      </form>
    </section>
  </div>
</div>
{% endblock %}
